#title {
  text-align: center;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(10, 0, 0);
}

body{
  background-image:"images/home_background.jpg"
}

#mainNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
#mainNav li {
  float: left;
}

#mainNav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#mainNav li a:hover:not(.active) {
  background-color: #111;
}
embed {
  padding: 10px;
}
div {
  text-align: center;
}


@media only screen and (min-width: 800px) {
  #mainNav a {
    background-position: 5px center;
    display: block;
  }

  #mainNav ul {
    justify-content: flex-end;
  }
}

@media (max-width: 850px) {
  #contact-form-holder {
    flex-direction: column;
  }
}
.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

hr{
  border: 2px solid black;
  width:100%;
}

p {
  font-size: 20px;
  font-family: Tahoma;
}


article.a {
  background-color: rgb(6, 153, 85);
  border-style: solid;
  border-color: black;
  border-width: thin;
  margin: 5px;
  border-width: thin;
  padding: 5px;
}

section.s {
  background-color: rgba(255, 255, 255, 0.8);
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 0.5em;
  margin: 5px;
  color: black;
  opacity: 80%;
}

#activeImage {
  padding: '4';
  width:"250";
  height:"350"
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  text-align: center;
  font-size: 30px;
}

#ul {
  margin-top: 0%;
  font-size: 20px;
  font-family: aria-atomic;
  padding-left: none;
  list-style-type: circle;
  margin-bottom: 2px;
  display: inline-block;
  text-align: left;
}


section.ss {
  background-color: rgba(255, 255, 255, 0.8);
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 1em;
  margin: 5px;
  color: black;
  opacity: 80%;
}

#newarrivals {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#newarrivals, .arrivals {
  margin: 0.8em 0.2em;
  width: calc(100% - 0.4em);
  box-sizing: border-box;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  background-color: rgba(255, 224, 179, 0.2);
}

#newarrivals h4,#newarrivals p {
  width: 90%;
  padding: 0;
  margin: 1em auto;
}

#ol {
  margin-top: 0%;
  font-size: 20px;
  font-family: aria-atomic;
  padding-left: none;
  list-style: disk;
  margin-bottom: 2px;
  display: inline-block;
  text-align: left;
}

.button {
  padding: 0.8em;
  background-color: #1b835b;
  color: rgb(17, 17, 17);
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin: 0.8em auto 0.8em 0;
  width: 80px;
}

.footer {
  text-align: left;
  font-size: '22px';
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 3px solid black;
  margin: 10px;
  padding: 5px;
  clear: both;
}

p.new{
  font-size: 18px;
  font-family: Tahoma;
}












