#title {
  text-align: center;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(10, 0, 0);
}

#mainNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
#mainNav li {
  float: left;
}

#mainNav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#mainNav li a:hover:not(.active) {
  background-color: #111;
}

hr.indexHR {
  border: 1px solid black;
  width:100%;
}

article.a {
  background-color: rgb(6, 153, 85);
  border-style: solid;
  border-color: black;
  border-width: thin;
  margin: 5px;
  border-width: thin;
  padding: 5px;
}

article.s {
  background-color: rgba(255, 255, 255, 0.8);
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 0.5em;
  margin: 5px;
  color: black;
  opacity: 80%;
}

#activeImage {
  width: '400';
  height: '400';
  padding: '4';
}



